<h3 id="toc_0">Poznań</h3>

<h4 id="toc_1">Zespół <strong>“drukujemy.mobi”</strong> kategoria open</h4>

<p><img src="img/brainapps/drukujemy.mobi.jpg" alt="drukujemy.mobi"> </p>

<ul>
<li>Rafał Traciłowski</li>
<li>Kamil Cieślak</li>
<li>Jan Głuszczyński</li>
<li>Michał Twierkowski</li>
</ul>

<p>Aplikacja odpowiada na bardzo istotną (nie tylko z punktu widzenia studentów) potrzebę wydrukowania dokumentów w optymalny sposób, czyli szybko, wygodnie i tanio. Użytkownik wybiera w aplikacji dokument, który ma zostać wydrukowany, personalizuje wydruk ustawiając m.in. format wydruku, kolor lub skala szarości. Następnie następuje wybór punktu świadczącego usługę drukowania z mapy lub listy, gdzie obok podstawowych informacji o punkcie prezentowana jest również cena usługi dla wskazanego dokumentu. Wybranie punktu powinno spowodować wysłanie dokumentu i jego przetworzenie w punkcie drukującym i gdzie po przybyciu i okazaniu unikatowego kodu z aplikacji nastąpi wydanie wydrukowanego dokumentu i rozliczenie usługi drukowania.</p>

<hr>

<h4 id="toc_2">Zespół <strong>“allegift”</strong> kategoria allegro</h4>

<p><img src="img/brainapps/allegift.jpg" alt="allegift"> </p>

<ul>
<li>Mateusz Zagórski</li>
<li>Paweł Rąbel</li>
<li>Paweł Schmidt</li>
</ul>

<p>AlleGift jest aplikacją przeznaczoną na urządzenia mobilne z systemem Android. Służy do podpowiadania propozycji prezentów na najbliższe uroczystości, urodziny znajomych - użytkownika aplikacji. Podpowiadanie jest spersonalizowane konkretnie pod każdą osobę na podstawie jej zainteresowań zaczerpniętych z Facebooka, bądź poprzez wybranie odpowiednich kategorii opisujących dane wydarzenie. Podpowiadane prezenty zaczerpnięte są z Allegro, dzięki czemu użytkownik może w łatwy i szybki sposób dokonać zakupu lub podzielić się daną propozycją ze znajomymi - udostępniając link do danej aukcji poprzez wybraną aplikację.</p>

<h3 id="toc_3">Warszawa</h3>

<h4 id="toc_4">Zespół <strong>“Life Hero”</strong> (kategoria Open):</h4>

<p><img src="img/brainapps/lifehero.jpg" alt="life hero"> </p>

<ul>
<li>Jolanta Bańkowska</li>
<li>Michal Mokrzycki</li>
<li>Mateusz Pilski</li>
</ul>

<p>Brakuje w twoim życiu motywacji? Masz dość życiowych osiągnięć których nikt nie docenia? Wypróbuj LifeHero, aplikację w której możesz zaznaczać wszystkie swoje życiowe osiągnięcia - od urodzenia aż po śmierć! Zamień swoje nudne życie w ekscytującą grę. 
Od dziś gdy tylko uda Ci się wybudować dom czy kupić pierwszy samochód, możesz to zaznaczyć w Life Hero. Na bieżąco porównuj i dziel się osiągnięciami ze znajomymi. Grywalizuj swoje życie już dziś!</p>

<hr>

<h4 id="toc_5">Zespół <strong>“Allegrator”</strong> (kategoria Allegro, wygrana ogólnopolska):</h4>

<p><img src="img/brainapps/allegrator.jpg" alt="Allegrator"> </p>

<ul>
<li>Kacper Kula</li>
<li>Jakub Mazurek</li>
<li>Konrad Sikorski</li>
<li>Kacper Harasim</li>
</ul>

<p>Allegrator to aplikacja na Androida, która bazując na zainteresowaniach użytkownika wybiera dla niego interesujące gadżety na Allegro. Aplikacja łączy się z kontami użytkownika w serwisach takich jak Spotify, Last.fm, Steam, GoodReads, RottenTomatoes. Bazując na jego aktywności, tworzy listę jego zainteresowań. Dla każdego zainteresowania dobierane są odpowiednie gadżety - dla zespołu muzycznego aplikacja zasugeruje koszulki, naszywki, plakaty, a dla gry - produkty kolekcjonerskie. Gadżety wybierane są spośród aktualnie trwających aukcji na Allegro - jeśli użytkownika zainteresuje dany produkt, jednym kliknięciem może wyświetlić go w mobilnej aplikacji Allegro.</p>

<h3 id="toc_6">Toruń</h3>

<h4 id="toc_7">Zespół <strong>“Drink&amp;Food”</strong></h4>

<p><img src="img/brainapps/drinkfood.jpg" alt="drink &amp; food"> </p>

<ul>
<li>Łukasz Ogan</li>
<li>Adrian Pietrzak </li>
<li>Adam Chyla</li>
</ul>

<p>Aplikacja Drink&amp;Food służy do  szybkiego nawigowania po pubach, restauracjach, barach w dowolnym mieście biorąc pod uwagę nasze aktualne położenie geograficzne. W prosty sposób pokaże Tobie, do którego lokalu dotrzesz najszybciej, gdzie zjesz swoje ulubione danie lub napijesz się dobrego wina. Aplikacja ma przede wszystkim skupiać promocje, które często prezentowane są w postaci eventów na facebooku. Osoba, która nie zna miasta, nie jest też na bieżąco z lokalami. Aplikacja D&amp;F ma to ułatwić. Właściciele lokali mają do dyspozycji panel (serwis internetowy) za pomocą którego mogą zarządzać swoimi produktami. </p>

<hr>

<h4 id="toc_8">Zespół <strong>“SnapBuyer”</strong> (kategoria Allegro)</h4>

<p><img src="img/brainapps/snapbuyer.jpg" alt="SnapBuyer"> </p>

<ul>
<li>Paweł Kapała</li>
<li>Maciej Mikulski </li>
<li>Patryk Kowalik </li>
<li>Tomek Jagodowski </li>
</ul>

<p>Snap Buyer pozwala przeglądać i oceniać losowe aukcje z Allegro.
Aplikacja zapamiętuje decyzje użytkownika i dopasowuje prezentowane aukcje do jego gustu.
Prosty i szybki interfejs odwzorowuje doświadczenie przeglądania katalogów i czasopism zakupowych.
Jeśli przedmiot aukcji wpadnie w oko użytkownika, może przejść bezpośrednio do aukcji.
Wkrótce w Google Play. </p>

<h3 id="toc_9">Kraków</h3>

<h4 id="toc_10">Zespół <strong>(MobiTouch)</strong> (kategoria Open):</h4>

<p><img src="img/brainapps/mobitouch.jpg" alt="MobiTouch"> </p>

<ul>
<li>Paweł Janda</li>
<li>Sławek Szewczyk</li>
<li>Krystian Solarz</li>
<li>Damian Dudycz</li>
</ul>

<p>Aplikacja jest innowacyjną metodą komunikacji i ekspresji, pozwala na rysowanie po wielkim nieograniczonym płótnie razem z użytkownikami z całego świata. Rysować można za pomocą trzech narzędzi o różnej grubości kreski i rozmaitych kolorach, można wrzucać zdjęcia, nazywać i tagować powstałe obrazki. Planujemy dodawanie plików AV, zapraszanie znajomych do wspólnego rysowania, udostępnianie dzieł w mediach społecznościowych, etc.</p>

<hr>

<h4 id="toc_11">Zespół <strong>(GNKG)</strong> (kategoria Allegro):</h4>

<p><img src="img/brainapps/allecena.jpg" alt="allecena"> </p>

<ul>
<li>Natalia Stawowy</li>
<li>Grzegorz Gurgul</li>
<li>Krzysztof Bijakowski</li>
<li>Grzegorz Wójcicki</li>
</ul>

<p>Aplikacja Allecena! pozwala na oszacowanie ceny, po jakiej użytkownik powinien wystawić przedmiot, żeby zmaksymalizować szanse na sprzedaż. Aplikacja skanuje dane z aukcji zakończonych, jak również aktualnych, takiej jak cena, ilość sprzedanych przedmiotów, ilość obserwatorów aukcji, etc.</p>
